terraform {
  source = "{{ .SourceURL }}?ref={{ .ModuleName }}-v{{ .Version }}"
}

include "root" {
  path = find_in_parent_folders("root.hcl")
}

inputs = {
  # Map of Secrets Manager secrets to create
  secrets = {} # TODO: fill in value
}
